<% include header %>
<div class="col-xs-12 col-lg-2"></div>
<div class="col-xs-12 col-lg-8 well" style="text-align: justify; text-justify: inter-word;">
	<a href="/">Volver</a>
	<br>
	<h3>Política de Privacidad</h3>
	<br>
	<h4>Emethma.ml - Política de Privacidad</h4>
	El texto acontinuación muestra la política de privacidad para la aplicación usada en Emethma.ml, desde ahora Emethma. Esta política describe como Emethma usa y protege la información que se entrega por parte de los usuarios a la aplicación. Emethma está comprometido a garantizar que su privacidad esta protegida. Cuando pedimos que nos entregues cierta información cuando se autentican en la aplicación, y se piden ciertos permisos mediante el dialogo de Facebook, puedes estar seguro que la información sólo será usada en el cumplimiento de esta política.
	<br><br>

	Emethma puede cambiar sus políticas en determinado momento por medio de esta sección. Esta política de privacidad fue actualizada por última vez el 28 de Diciembre del 2015. Si hacemos cambios en el sitio, también pueden ser cambios a las políticas y es su deber revisar estos cambios para asegurarse de que cumple con todo lo estipulado en nuestras políticas.

	<br><br>
	<b><s>Que información recolectamos?</s></b>
	<br><br>

	Nosotros podríamos recolectar la siguiente información de su perfil:
	<br><br>
	<ul>
		<li>Recolectamos la información básica de su perfil, principalmente el nombre, el género y el ID de Facebook para poder obtener la foto de perfil que se usa en ciertas páginas del sitio Emethma.</li>
	</ul>
	<br>
	<b><s>Que hacemos con la información que recolectamos?</s></b>
	<br><br>
	Nosotros requerimos esta información para entender sus necesidades y mejorar la experiencia de uso con la aplicación y particularmente por las razones que se muestran a continuación:

	<ul>
		<li>Recolectamos la información básica para que todos aquellos contáctos registrados en Emethma puedan saber quien ofrece el servicio voluntario de llevar a sus amigos a algún lugar basado en la ruta geográfica que los mismos proporcionen y posteriormente brindar al usuario la opción de compartir el servicio de Emethma con sus amigos.</li>
		<li>Adicionalmente pedimos cierta información, como por ejemplo acceso al News Feed de Facebook (cantidad de "Me Gusta", comentarios, posts, estados, u otros) o al Inbox (cantidad de mensajes) para sacar cálculos sobre la interacción del usuario con sus amigos y así poder entregar resultados más confiables de quienes hacen uso de Emethma.</li>
	</ul>
	<br>
	<b><s>Como protegemos su información?</s></b>
	<br><br>
	Nosotros garantizamos y nos aseguramos de la mejor forma posible que su información está segura. El uso de la información es temporaria mientras se procesan los resultados de los tests.
	<ul>
		<li>Nunca guardamos ninguna información sensible o privada del usuario ni de sus amigos, como passwords, mensajes privados, comentarios.</li>
	</ul>
	<br>
	<b><s>Revelamos la información a terceros?</s></b>
	<br><br>
	Nosotros no vendemos, intercambiamos o transferimos de ninguna manera su información a terceros. 
	Emethma no se hace responsable por alguna actividad ilegal en Facebook. Nosotros no subimos ninguna información a Facebook. Al utilizar este sitio usted esta asumiendo el cumplimiento de nuestras políticas.

	<br><br>
	<b><s>Publicidad de terceros y sus Cookies:</s></b>
	<br><br>
	Las compañias de publicidad pueden usar y recolectar información anonima acerca de sus intereses para personaliza el contenido de los anuncios publicitarios. La información como intereses o localización puede estar enlazada a su dispositivo, pero no esta enlazado a su identidad. Estas compañias tienen sus propias politicas de privacidad. Click en los enlaces para ver las politicas de estos sitios:

	<br><br>
	<a href="http://www.google.com/policies/technologies/ads/">Google Ad and content network privacy policy</a>
	<br><br>
	<p> If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at yamilquery@gmail.com. </p> 
<p> At www.Emethma.ml, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by www.Emethma.ml and how it is used. </p> 
<p> <b>Log Files</b><br> Like many other Web sites, www.Emethma.ml makes use of log files. The information inside the log files includes internet protocol ( IP ) addresses, type of browser, Internet Service Provider ( ISP ), date/time stamp, referring/exit pages, and number of clicks to analyze trends, administer the site, track users movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable. </p> 
<p> <b>Cookies and Web Beacons</b><br> www.Emethma.ml does use cookies to store information about visitors preferences, record user-specific information on which pages the user access or visit, customize Web page content based on visitors browser type or other information that the visitor sends via their browser. </p> 
<b>DoubleClick DART Cookie</b><br> 
<p> 
.:: Google, as a third party vendor, uses cookies to serve ads on www.Emethma.ml.<br> 
.:: Google's use of the DART cookie enables it to serve ads to your users based on their visit to www.Emethma.ml and other sites on the Internet. <br> 
.:: Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL - http://www.google.com/privacy_ads.html </p> 
<p> Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include ....... <br> 
Google Adsense
<br> <br> </p> 
<p> These third-party ad servers or ad networks use technology to the advertisements and links that appear on www.Emethma.ml send directly to your browsers. They automatically receive your IP address when this occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party ad networks to measure the effectiveness of their advertisements and / or to personalize the advertising content that you see. </p> 
<p> www.Emethma.ml has no access to or control over these cookies that are used by third-party advertisers. </p> 
<p> You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices. www.Emethma.ml's privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites. </p> 
<p> If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites. </p><br>
<br>
	<b>Última actualización: 28 de Diciembre del 2015</b>
</div>